.htd-canvas,
.htd-mask,
.htd-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.htd-overlay {
  /* background: rgba(0, 0, 0, 0.6);*/
  z-index: 99996
}

.htd-mask {
  z-index: 99998
}

.htd-current-element {
  z-index: 99997;
  position: relative
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: .5
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: .5
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: .5
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: .5
  }
}

.htd-fade-in {
  -webkit-animation: fadeIn .25s ease;
  -moz-animation: fadeIn .25s ease;
  -o-animation: fadeIn .25s ease;
  animation: fadeIn .25s ease
}

.htd-help {
  color: #fff;
  font-size: 1.5rem;
  text-shadow: 0 0 10px #000;
  position: absolute;
  margin: 5px;
  z-index: 99999
}

.htd-help svg {
  position: absolute;
  top: 0;
  left: 0
}

.htd-help span {
  display: inline-block;
  padding: 10px;
  font-size: 2rem
}

.htd-top svg {
  top: auto;
  bottom: 0
}

.htd-left svg {
  left: auto;
  right: 0
}